.sidebar {
  height: 100%;
  background-color: #c4c4c4;
  margin: 0,10px,10px,10px;
  padding: 40px;
  max-width: 200px;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-top: 0;
}

.checkboxes {
  align-items: center;
  text-align: left;
  margin: 10px;
}

.button {
  margin: 20px;
  text-align: center;
  align-items: center;

}

.offers{
  overflow: auto;
  word-wrap: break-word;
  max-height: 400px;
  align-items: center;
}
